//APP
.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(55, 55, 55);
    background: #ffe9ed;
}
.content {
    max-width: 70%;
    width: 70%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
}
.newGameContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section {
    display: flex;
    flex-wrap: wrap;
}
.playButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.playButton {
    background: pink;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
//TABS
.tabs {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}
.tab {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    border: 2px solid #ff80cf;
}
.menu {
    flex-grow: unset !important;
    min-width: 4rem;
    font-size: 0.5rem;
    color: black;
}
.active {
    border-bottom: none;
    background: #ffe9ed
}
.currentTurn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.points {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playersPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}
.playersContent {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    flex-direction: column;
}
//PLAYER
.playerContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
}
.playerName {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.button {
    padding: 0 1rem;
    display: flex;
    color: black;
    font-size: 1.2rem !important;
    align-items: center;
    cursor: pointer;
}
.icon {
    padding: 0 1rem;
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

//PLAYERS
.playersContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.playerInputContainer {
    display: flex;
    padding: 1rem;
}
.playerInput {
    flex-grow: 1;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background: white;
    color: black;
}
.playerNameLabel {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}
.saveButtonContainer {
    padding: 0.5rem 1rem;
}
.saveButton {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: #4db3ff;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
        background: #0293ff;
    }
}

@media screen and (max-width: 600px) {
    .app {
        font-size: 1.2rem;
        overflow: hdden;
    }    
    .content {
        max-width: 100%;
        width: 100%;
    }
    .playerInputContainer {
        padding: 0.5rem;
    }
    .playerInput {
        flex-grow: 1;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .saveButton {
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background: #4db3ff;
        height: 100%;
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: #0293ff;
        }
    }     

}