.pigSelect {
    height: 10rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.fullSize {
    width: 100% !important;
}

.pigSelectButton {
    height: 100%;
    width: 100%;
    border: 2px solid #ff80cf;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.active {
    background: #ff80cf;
}
.subButton {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    max-width: 50%;
}
.vertical {
    height: 100%;
    width: 1px;
    background: #ff80cf;
}

@media screen and (max-width: 600px) {
    .pigSelect {
        height: 6rem;
        width: 50%;
        padding: 0.5rem;
    }
}
